<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/components/footer.css'%}">
    <title>Document</title>
</head>

<body>
    <!-- footer.html -->
    <footer>
        <p>&copy; {{ current_year }} Meu Blog. Todos os direitos reservados.</p>
        <div>
            <a href="">Política de Privacidade</a> |
            <a href="">Termos de Serviço</a>
        </div>
        <div>
            <p>Redes sociais:</p>
            <a href="https://facebook.com" target="_blank">Facebook</a>
            <a href="https://twitter.com" target="_blank">Twitter</a>
            <a href="https://instagram.com" target="_blank">Instagram</a>
        </div>
    </footer>
</body>

</html>