<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/components/header.css'%}">
</head>

<body>
    <!-- header.html -->
    <header class="header">
        <div class="header-content">
            <div>
                <h1 class="blog-title">
                    <a href="">Meu Blog</a>
                </h1>
                <p class="blog-description">Compartilhando ideias e experiências</p>
            </div>

            <nav>
                <ul class="nav-links">
                    <li><a href="">Início</a></li>
                    <li><a href="">Sobre</a></li>
                    <li><a href="">Contato</a></li>
                    <li><a href="">Blog</a></li>
                </ul>
            </nav>
        </div>

        <div class="search-bar">
            <form action="" method="GET">
                <input type="text" name="q" placeholder="Pesquisar...">
                <button type="submit">Buscar</button>
            </form>
        </div>
    </header>

</body>

</html>